.app {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters select {
  padding: 10px;
  font-size: 1rem;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.filters button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.filters button:hover {
  background-color: #0056b3;
}

.course-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-tile {
  background-color: white; /* Default white color */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: calc(33.33% - 20px);
  text-align: left;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.course-tile:hover {
  transform: translateY(-5px);
  background-color: #edf6f9; /* Pleasant and aesthetic color on hover */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 0px 32px rgba(0, 0, 0, 0.2);
}

.course-tile button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.course-tile button:hover {
  background-color: #0056b3;
}
